{{- if .Values.persistence.enabled }}
{{- range $p := .Values.providers }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "eratemanager.fullname" $ }}-{{ $p.key }}-refresh
spec:
  schedule: "{{ $.Values.cron.schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: {{ $p.key }}-refresh
              image: curlimages/curl:8.10.1
              args:
                - /bin/sh
                - -c
                - |
                    echo "Waiting for eRateManager..."
                    until curl -fsSL "http://eratemanager:80/readyz"; do
                      echo "Backend not ready yet..."
                      sleep 2
                    done

                    echo "Backend is UP, refreshing {{ $p.key }}..."
                    curl -fsSL "http://eratemanager:80/internal/refresh/{{ $p.key }}"
{{- end }}
{{- end }}
