{{- if .Values.refreshHook.enabled | default true }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "eratemanager.fullname" . | trunc 50 }}-refresh-all-hook
  labels:
    app: {{ include "eratemanager.name" . }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 10
  template:
    spec:
      restartPolicy: OnFailure
      {{- if and .Values.imagePullSecrets (gt (len .Values.imagePullSecrets) 0) }}
      imagePullSecrets:
      {{- range .Values.imagePullSecrets }}
        - name: {{ .name }}
      {{- end }}
      {{- end }}
      containers:
        - name: refresh-all-providers
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/eratemanager", "batch"]
          env:
            - name: ERATEMANAGER_DB_DRIVER
              value: {{ .Values.db.driver | quote }}
            - name: ERATEMANAGER_DB_DSN
              value: {{ include "eratemanager.db.dsn" . | quote }}
{{- end }}
