{{- range $p := .Values.providers }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "eratemanager.fullname" $ | trunc 50 }}-{{ $p.key }}-refresh-hook
  labels:
    app: {{ include "eratemanager.name" $ }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: refresh-{{ $p.key }}
          image: curlimages/curl:8.10.1
          args:
            - /bin/sh
            - -c
            - |
                echo "Waiting for eRateManager..."
                until curl -fsSL "http://eratemanager:80/readyz"; do
                  echo "Backend not ready yet..."
                  sleep 2
                done

                echo "Backend is UP, refreshing {{ $p.key }}..."
                curl -fsSL "http://eratemanager:80/internal/refresh/{{ $p.key }}"
{{- end }}
