image:
  repository: ghcr.io/bher20/eratemanager
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80

app:
  port: 8000

providers:
  - key: cemc
  - key: nes

persistence:
  enabled: true
  size: 1Gi
  mountPath: /data

cron:
  schedule: "0 3 * * *"

gateway:
  enabled: true
  name: public-gateway
  namespace: default
  hostname: rates.bherville.com

monitoring:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: ""
    interval: 30s
    scrapeTimeout: 10s
    labels: {}

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: null

imagePullSecrets: []
